---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';

interface Identity {
  firstName: string;
  country: string;
  occupation: string;
  hobbies: string[];
}

const title = "About";
const identity: Identity = {
  firstName: "サラ",
  country: "カナダ",
  occupation: "技術ライター",
  hobbies: ["写真", "バードウォッチング", "野球"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "ドキュメントの執筆"];

const isFlg = true
const skillColor = "navy"
const fontWeight = "bold"
const textCase = "uppercase"
---
<style define:vars={{skillColor, fontWeight, textCase}}>
  h1 {
    color: purple;
    font-size: 4rem;
  }
  .skill {
    color: var(--skillColor);
    font-weight: var(--fontWeight);
    text-transform: var(--textCase);
  }
</style>
<Layout title="Welcome to Astro.">
  <Navigation />
	<main>
		<h1>{title}</h1>
    <p>firstName: {identity.firstName}</p>
    <p>country: {identity.country}</p>
    <p>occupation: {identity.occupation}</p>
    {identity.hobbies.map(hobby => {
      return <p>hobby: {hobby}</p>;
    })}
    {skills.map((skill) => <li class="skill">{skill}</li>)}

    {isFlg ? <p>trueだね</p> : <p>falseだね</p>}
	</main>
</Layout>

<style>
</style>
