---
import { getCollection } from "astro:content";
import GlobalLayout from "src/layouts/GlobalLayout.astro";
import Card from "src/components/Card.astro";
import Link from "src/components/Link.astro";
import { getProductsByDate, getRandomProducts } from "src/util";

const products = await getCollection("products");

// 新着商品を日付順に10個取得
const newProducts = getProductsByDate(products, 10);
// 人気商品5品をランダムに取得
const popularProducts = getRandomProducts(products, 5);
---

<GlobalLayout title="トップページ">
  <div class="mt-2" id="newProducts">
    <h2 class="text-xl">新着商品</h2>
    <ul class="mt-1 grid w-full grid-cols-5 grid-rows-2 gap-2">
      {
        newProducts.map(({ data }) => (
          <Card
            productId={data.id}
            productImgPath={data.productImgPath}
            productName={data.productName}
            brandName={data.brandName}
          />
        ))
      }
    </ul>
    <Link path="new" className="mt-1 text-right">もっとみる</Link>
  </div>
  <div class="mt-2" id="popularProducts">
    <h2 class="text-xl">人気商品ランキング</h2>
    <ul class="mt-1 grid w-full grid-cols-5 grid-rows-1 gap-x-1">
      {
        popularProducts.map(({ data }) => (
          <Card
            productId={data.id}
            productImgPath={data.productImgPath}
            productName={data.productName}
            brandName={data.brandName}
          />
        ))
      }
    </ul>
    <Link path="popular" className="mt-1 text-right">もっとみる</Link>
  </div>
  <Link path="search" className="mt-1 text-right">ブランド検索</Link>
</GlobalLayout>
