---
interface Props {
  productId: number;
  productImgPath: string;
  productName: string;
  brandName: string;
}

const { productId, productImgPath, productName, brandName } = Astro.props;
---

<li class="rounded-sm border p-1">
  <article>
    <a href={`/products/${productId}`}>
      <img
        src={`${Astro.url.origin}${productImgPath}`}
        alt=""
        class="h-56 w-full"
      />
      <h3>{productName}</h3>
      <p>{brandName}</p>
    </a>
  </article>
</li>
